.formulario{
    margin: 100px;
}
.preview{
    margin: 100px;
}
.alado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pro{
    height: 200px;
    width: 240px;
    
}
.Des{
    width: 220px;
}