
<h2>Bienvenido a Shopeame</h2>
<div class="info">
    <h3>¿Qué es Shopéame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reprehenderit tempore velit repellat iusto distinctio libero rem reiciendis minima architecto, debitis officiis maxime sapiente impedit, itaque, necessitatibus ullam? Numquam, expedita.</p>
    <h3>¿Para que puedo usar Shopeame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reprehenderit tempore velit repellat iusto distinctio libero rem reiciendis minima architecto, debitis officiis maxime sapiente impedit, itaque, necessitatibus ullam? Numquam, expedita.</p>
    <h3>¿Quienes hacemos en Shoepeame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reprehenderit tempore velit repellat iusto distinctio libero rem reiciendis minima architecto, debitis officiis maxime sapiente impedit, itaque, necessitatibus ullam? Numquam, expedita.</p>
    <h3>¿Es seguro usar Shopeame?</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reprehenderit tempore velit repellat iusto distinctio libero rem reiciendis minima architecto, debitis officiis maxime sapiente impedit, itaque, necessitatibus ullam? Numquam, expedita.</p>
</div>
